h1, h2, h3, h4 {
  font-family: $heading-font;
}

body {
  font-family: $body-font;
  font-size: $text-base-size;
  max-width: 1024px;
  margin: 0 auto;
  padding: $spacer;
  display: grid;
  grid-template-areas: "header"
                       "content";
}

header {
  position: relative;
  grid-area: header;
  display: grid;
  grid-template-columns: 3em 1fr;
  grid-template-areas: "nav title"
                       "contact contact";

  > h1 {
    grid-area: title;
    font-family: $masthead-font;
    font-size: 3.3em;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }

  .h-card {
    grid-area: contact;
    display: grid;
    grid-template-areas: "title email"
                         "dept  gpg"
                         "inst  inst";
    > span {
      display: block;
    }
    .p-job-title {
      grid-area: title;
      text-align: left;
    }
    .p-organization-unit {
      grid-area: dept;
      text-align: left;
    }
    .p-organization-name {
      grid-area: inst;
      text-align: left;
    }
    .p-email {
      grid-area: email;
      text-align: right;
    }
    .p-gpg {
      grid-area: gpg;
      text-align: right;
    }
  }

  > nav {
    grid-area: nav;

    ul {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
      text-transform: lowercase;
      position: absolute;
      width: 100%;
      padding: $spacer;
      background-color: white;

      li {
        display: block;
        text-align: left;

        a {
          color: inherit;
          text-decoration: none;
          font-size: 1.5em;
        }
      }
    }

    .hamburger {
      > input {
        display: none;
      }

      > i {
        display: none;
      }

      i {
        font-family: 'Material Icons';
        font-size: 3rem;
        line-height: 100%;
        background-color: white;
      }
    }

    i.menu {
      display: block;
    }

    i.close {
      display: none;
    }

    input:checked {
      & ~ ul {
        display: block;
      }
      & ~ i.close {
        display: block;
      }

      & ~ i.menu {
        display: none;
      }
    }
  }
}

article {
  grid-area: content;

  > p > img {
    display: block;
    width: 100%;
    max-width: 20em;
    border-radius: 0.2em;

    @media screen and (max-width: $tablet) {
      margin: 0 auto;
    }
    @media screen and (min-width: $tablet) {
      float: left;
      margin: 1.3em 1em 0 auto;
    }
  }
}
