@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Lato|Source+Sans+Pro|Gochi+Hand');

$body-font: 'Lato', sans-serif;
$heading-font: 'Source Sans Pro', sans-serif;
$masthead-font: 'Gochi Hand', cursive;
